!!!
html
  head
    title= title

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    link(href='/styles/app.css', rel='stylesheet', type='text/css')
    block styles

  body
    block body

    // A few key dependencies, linked in order

    // SCRIPTS
    script(type="text/javascript", src="/vendor/js/socket.io.js")
    script(type="text/javascript", src="/vendor/js/sails.io.js")
    script(type="text/javascript", src="/js/app.js")
    // SCRIPTS END

    // Load templates
    // TEMPLATES
    script(type="text/javascript", src="/jst.js")
    // TEMPLATES END
